@import './base.css';

/* Reset some basic elements */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

/* Removed unused .versions class and media query that were here */
